<nz-card>
  <form nz-form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form
      [form]="form"
      [model]="model"
      [fields]="fields"
      nz-row
      [nzGutter]="24"
    >
    </formly-form>

    <button nz-button nzType="primary" type="submit">Submit</button>
    <button nz-button nzType="danger" type="reset">Reset</button>
  </form>
  <i nz-icon nzType="user"></i>
</nz-card>
<ng-template #characterZhLetter><i nz-icon nzType="windows"></i>好</ng-template>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

